@import '../styles/_Spalvos.scss';
@import '../styles/_Header.scss';
@import '../styles/_Projektai.scss';
@import '../styles/_Footer.scss';
@import '../styles/_Nariai.scss';

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    //border-radius: 10px; 
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $spalva-3;
}

h1{
    font-family: Roboto,'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: $spalva-4;
}

h2{
    font-family: Roboto,'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: $spalva-5;
}

p{
    font-weight: 400;
    color: $spalva-5;
}

html, body{
    min-height: 100%;
}

body{
    font-family: Roboto,'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: $background;
}

.landing-img{
    margin-top: 3em;
    height: 340px;
    line-height: 340px;
    text-align: center;
    background-image: url("../images/Pagrindinis nuotrauka.png");
    background-position: center;
}
.pad{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}