.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-links li {
  padding: 0 15px;
}

.header .nav-bar .nav-links li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Nunito sans;
  color: #354f52;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

/* Active klase uzdesim ant to linko, kuriame busim per kita koda */
.active {
  border-bottom: solid 2px #354f52;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    padding-right: 10px;
  }
}

.container-2 {
  width: 100%;
  max-width: 1250px;
  z-index: -1;
}

.container-2 h1 {
  text-align: center;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 0 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  border-radius: 20px;
  width: 16em;
}

.card div {
  overflow: hidden;
  max-height: 9em;
}

.card h2 {
  margin: 10px 20px;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.card p {
  padding: 0 20px 15px 20px;
  margin: 0px;
  color: #2f3e46;
}

/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/
.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: flex-start;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-column-gap: 35px;
  min-width: 18em;
}

.footer-links h3 {
  font-weight: 400;
  color: #cad2c5;
}

.footer-links ul {
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #cad2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul li a img {
  height: 1.5em;
  padding-right: 6px;
}

.footer {
  background-color: #354f52;
  padding: 0 1em;
}

.container-3 {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.container-3 h1 {
  text-align: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nariai-card {
  width: 100%;
}

.Nariai-card div {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  max-width: 160px;
  max-height: 160px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
}

.Nariai-card div img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.Nariai-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.Nariai-card p {
  text-align: center;
  font-size: 1em;
  min-height: 36px;
  margin-top: 5px;
}

.priv_arrow, .next_arrow {
  position: absolute;
  top: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.priv_arrow {
  left: 8px;
}

.next_arrow {
  right: 8px;
}

.slick-slide {
  outline: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #52796f;
}

h1 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #354f52;
}

h2 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #2f3e46;
}

p {
  font-weight: 400;
  color: #2f3e46;
}

html, body {
  min-height: 100%;
}

body {
  font-family: Nunito sans;
  margin: 0;
  background-color: #f1f1f1;
}

.landing-img {
  padding-top: 2.5em;
  height: 95vh;
  background-color: #354f52;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-img img {
  display: block;
  margin: auto;
  width: 100%;
}

.pad {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
