@import '../styles/_Spalvos.scss';
@import '../styles/_Header.scss';
@import '../styles/_Projektai.scss';
@import '../styles/_Footer.scss';
@import '../styles/_Nariai.scss';

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    //border-radius: 10px; 
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $spalva-3;
}

h1{
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: $spalva-4;
}

h2{
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: $spalva-5;
}

p{
    font-weight: 400;
    color: $spalva-5;
}

html, body{
    min-height: 100%;
}

body{
    font-family: Nunito sans;
    margin: 0;
    background-color: $background;
}

.landing-img{
    padding-top: 2.5em;
    height: 95vh;
    //background-image: url('../images/Pagrindinis-img-backround.png');
    background-color: $spalva-4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    img{
        display: block;
        margin: auto;
        width: 100%;
    }
}
.pad{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}