@import "_Spalvos.scss";

.container-3 {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
}
.box {
  display: flex;
  justify-content: center;
}

.Nariai-card {
  width: 100%;
  div {
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
    background-color: white;
    img {
      vertical-align: middle;
      object-fit: cover;
      width: 100%;
    }
    svg {
      height: 100%;
      font-size: 500%;
      color: $spalva-1;
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: 400;
    color: $spalva-5;
  }
  p {
    text-align: center;
    //font-size: 14px;
    font-size: 1em;
    min-height: 36px;
    margin-top: 5px;
  }
}

.priv_arrow,
.next_arrow {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.priv_arrow {
  left: 8px;
  z-index: 10000;
}
.next_arrow {
  right: 8px;
}
.slick-slide {
  outline: none;
}

.carousel {
  user-select: initial;
}
