.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
  top: 0px;
  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.header .logolink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logolink .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar {
  display: contents;
}

.header .nav-links {
  float: right;
  margin: 0;
  margin-right: 20px;
}

.header .nav-links li {
  display: inline-block;
  line-height: 3em;
  margin: 0 5px;
}

.header .nav-links li .nav-link {
  font-family: Roboto,'Helvetica Neue', sans-serif;
  color: #427A7E;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

.checkbtn {
  font-size: 34px;
  color: #427A7E;
  float: right;
  line-height: 100%;
  margin-right: 15px;
  padding-top: 8px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Active klase uzdesim ant to linko, kuriame busim per kita koda */
.active a {
  border-bottom: solid 2px #427A7E;
}

@media (max-width: 575px) {
  .checkbtn {
    display: block;
  }
  .header .nav-links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #427A7E;
    top: 3em;
    right: 100%;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
  }
  .header .nav-links li {
    display: block;
    font-size: x-large;
    margin: 0;
    line-height: 2em;
  }
  .header .nav-links li .nav-link {
    display: block;
    font-size: 1em;
    color: white;
    width: 100%;
  }
  .active a {
    border-bottom: none;
    color: #427A7E;
  }
  .header .nav-links .active, .header .nav-links li:hover {
    background: white;
  }
  .header .nav-links .active a, .header .nav-links li:hover a {
    color: #427A7E;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

.container-2 {
  width: 100%;
  max-width: 1250px;
  z-index: -1;
}

.container-2 h1 {
  text-align: center;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 0 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  border-radius: 20px;
  width: 16em;
  min-height: 305px;
}

.card div {
  overflow: hidden;
  max-height: 9em;
}

.card h2 {
  margin: 10px 20px;
  font-size: 1.4em;
  font-weight: 400;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.card p {
  padding: 0 20px 15px 20px;
  margin: 0px;
  color: #2f3e46;
  font-size: 14px;
  line-height: 1.5em;
}

.daugiau_projektu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, right top, left top, from(#f2f2f2), to(#d8d8d8));
  background-image: linear-gradient(-90deg, #f2f2f2 0%, #d8d8d8 100%);
}

.daugiau_projektu a {
  text-decoration: none;
}

/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/
.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-column-gap: 35px;
  min-width: 18em;
  justify-items: center;
}

.footer-links h3 {
  font-weight: 400;
  color: white;
}

.footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul li a img {
  height: 1.5em;
  padding-right: 6px;
}

.footer {
  background-color: #427A7E;
  padding: 0 1em;
}

h1, h2 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #324a5f;
}

p {
  color: #707070;
}

html, body {
  min-height: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: whitesmoke;
}

.landing-img {
  padding-top: 2.5em;
  height: 95vh;
  background-color: #324a5f;
  background-image: url("/images/landing-img-backround.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-img img {
  display: block;
  margin: auto;
  width: 100%;
}

.pad {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .landing-img {
    background-image: url("/images/landing-img-backround.png");
  }
}

/*  Pakeisti mobile-landing-img kai landscape mode  */
@media all and (orientation: landscape) {
  .landing-img {
    background-image: url("/images/landing-img-backround.png");
  }
}
