@import "../styles/_Spalvos.scss";
@import "../styles/_ScrollBar.scss";

$card-width: 23em;

* {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2em;
  color: $spalva-4;
}

h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: $spalva-5;
}

p {
  font-weight: 400;
  color: $spalva-5;
}

a {
  text-decoration: none;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: $background;
}

.pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  width: 100%;
}
.content {
  max-width: 1300px;
  margin: 0 auto;
}
.base {
  padding-top: 3em;
}
