$border-radius: 20px;
$card-width: 17em;

$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-4: #ccc9dc;

$green-1: #cad2c5;
$green-2: #84a98c;
$green-3: #52796f;
$green-4: #354f52;
$green-5: #2f3e46;

.container-2{
    width: 100%;
    max-width: 1250px;
    z-index: -1;
    margin: auto;
    h1{
        margin-top: 0;
        text-align: center;
    }
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    
}

.card{
    display: flex;
    flex-direction: column;
    //align-items: center;
    background: #fff;
    position: relative;
    box-shadow: 0 3px 22px 1px rgba(55,48,48,.09);
    border-radius: $border-radius;
    width: $card-width;
    min-height: 305px;
    max-width: 400px;

    div{
        overflow: hidden; 
        max-height: 9em
    }

    h2{
        margin: 10px 20px;
        font-size: 1.4em;
        font-weight: 400;
    }
    
    img{
        width: 100%;
        border-radius: $border-radius $border-radius 0 0; 
        vertical-align: middle;
        object-fit: cover;
    }

    p{
        padding: 0 20px 15px 20px; 
        margin: 0px;
        color: $green-5;
        font-size: 14px;
        line-height: 1.5em;
    }

}
.daugiau_projektu{
    justify-content: center;
    text-align: center;
    background-color: rgb(242,242,242);
    background-image: linear-gradient(-90deg, rgba(242,242,242,1) 0%, rgba(216,216,216,1) 100%);
    
    a{
        text-decoration: none;

    }
}

.projects{
    padding: 0 30px;
}


/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/